.Sector-Outer {
  width: 50%;
  height: 50%;

  left: 50%;
  top: 50%;

  position: absolute;

  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
  transform-origin: 0 0;
  transform: rotate(0deg);

 
  border-width: 11px;
  border: 2px solid #f1ee22;

  opacity: 0.2;
 
}

.day1{
  background: rgb(148, 67, 67)
}
.day2{
  background: white;
}
.day3{
  background: #8d8c88;
}
.day4{
  background: rgb(206, 203, 203);
}
.day5{
  background: red
}
.day6{
  background: rgb(199, 50, 50)
}

.night1{
  background: rgb(138, 124, 124);
}
.night2{
  background: white;
}
.night3{
  background: #72716c;
}
.night4{
  background: rgb(39, 36, 36);
}
.night5{
  background: black
}
.night6{
  background: rgb(61, 59, 59)
}


.Sector-Outer-Kernel {
  position: absolute;
  font-size: 100%;
  font-family: Roboto;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;

}
.Sector-Outer-Core {
  position: absolute;
  font-size: 100%;
  font-family: Roboto;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: black;

}
