.HexgonLine {
    width: 30%;
    height: 3px;

    right: 0%;
    top: 0%;

    position: relative;

    transform-origin: 0%;
    transform: rotate(0deg);
    /*transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);*/

    z-index: 0;
    background: #fcff61;
    border-radius: 6px;
  
  }