.HexgonLine {
  width: 50%;
  height: 50%;

  left: 50%;
  top: 50%;

  position: absolute;

  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
  transform-origin: 0 0;
  transform: rotate(0deg);

 
  border-width: 11px;
  border: 2px solid #f1ee22;

  opacity: 0.2;
 
}

.arcolr1{
  background: #f1ee22;
}
.arcolr2{
  background: #a19630;
}