


.obimg{
    position: absolute;
    border-radius: 50%;
    
   
    width: 20px;
   
    xborder: 1px solid red;

    top:0px;
    left:0px;
    
    border: 2px solid rgb(0, 0, 0);
}

/*
.g01{
    transform: translate(12rem,0rem);
}
.g02{
    transform: translate(17.5rem,6.2rem) ;
}
.g03{
    transform: translate(14.0rem,17.8rem) ;
}
.g04{
    transform: translate(0rem,23.3rem);
}

.g05{
    transform: translate(-14rem,17.3rem);
}

.g06{
    transform: translate(-17rem,6.3rem);
}

*/










  .innerCircleObilarge{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92.2%;
    height: 92.2%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    border: 2px solid gray;
    xbackground-color: white;

    transform: translateX(-50%) translateY(-50%);

    opacity: 1;
    overflow: hidden;
   
  }

  .innerCircleObimiddl {
    position: absolute;
    top: 50.0%;
    left: 50.0%;
    transform: translateX(-50%) translateY(-50%);

    width: 73.0%;
    height: 73.0%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    border: 0.1px solid white;
    xbackground-color: white;


    opacity: 1;
    overflow: hidden;
  }

  .innerCircleObiSmall {
    position: absolute;
    top: 50.0%;
    left: 50.0%;
    transform: translateX(-50%) translateY(-50%);

    width: 51.0%;
    height: 51.0%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    border: 0.2px solid white;
    xbackground-color: white;


    opacity: 1;
    overflow: hidden;
  }

  .obimgRing{
      width:20px;
      height:20px;
      border: 2px solid #61afff;
      border-radius: 100%;

      animation: blinkingBackground 3s infinite;
  }

  @keyframes blinkingBackground{
    20%{opacity: 0;}
    30%{opacity: .5;}
    100%{opacity: 1;}
  }